name: Build Chiaki Windows (Control Only)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.6.0'
        arch: 'win64_msvc2019_64'

    - name: Install SDL2
      # Adicionada a flag --classic para ignorar o erro de manifesto
      run: |
        vcpkg install sdl2:x64-windows --classic

    - name: Configure CMake
      # Adicionado o Triplet para garantir que o CMake encontre a lib de 64 bits
      run: |
        cmake -B build `
          -DCHIAKI_ENABLE_GUI=ON `
          -DCHIAKI_ENABLE_FFMPEG_DECODER=OFF `
          -DCHIAKI_LIB_ENABLE_OPUS=OFF `
          -DCHIAKI_ENABLE_SPEEX=OFF `
          -DCHIAKI_ENABLE_STEAMDECK_NATIVE=OFF `
          -DCMAKE_BUILD_TYPE=Release `
          -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake `
          -DVCPKG_TARGET_TRIPLET=x64-windows

    - name: Build
      run: cmake --build build --config Release

    - name: Upload Executable
      uses: actions/upload-artifact@v4
      with:
        name: Chiaki-Control-Only
        path: build/gui/Release/chiaki.exe
